<form class="form" action="">
    <h3>Create your Fiber account</h3>
    <label for="">Your Name</label>
    <input class="input" placeholder="John Doe" type="text" />
    <label for="">E-mail</label>
    <input class="input" placeholder="john@example.com" type="text" />
    <label for="">Password</label>
    <input class="input" placeholder="At least 8 characters" type="text" />
    <div class="terms">
      <input class="checkbox" type="checkbox" name="" id="" />
      <span for=""
        >By creating an account on Fiber, you agree to the
        <a class="colored__text" href="#">Terms & Conditions</a></span
      >
    </div>
    <button class="btn btn--primary">Create an Account</button>
  </form>