<section class="block hero">
  <div class="container grid grid--1x2">
    <img class="hero__img" src="Assets/hero-Illustration.png" alt="" />
    <div class="hero__content">
      <div class="star">
        <img src="Assets/star.svg" alt="" />
        <img src="Assets/star.svg" alt="" />
        <img src="Assets/star.svg" alt="" />
        <img src="Assets/star.svg" alt="" />
        <img src="Assets/star.svg" alt="" />
      </div>
      <h1>Create your portfolio in minutes.</h1>
      <p>
        With Fiber, you can setup your own personal portfolio in minutes with
        dozens of premade, beautiful templates.
      </p>
      <div>
        <button class="btn btn--primary">Start Free Trial</button>
        <p class="link colored__text">View Examples</p>
      </div>
      <ul class="list list--tick">
        <li>No Credit Card Required</li>
        <li>10 Free Templates</li>
      </ul>
    </div>
  </div>
</section>
