<section class="block container media-section">
    <div class="media-section__heading">
      <p class="colored__text">Why Fiber?</p>
      <h3>A good portfolio means good employability.</h3>
    </div>
    <div class="grid grid--1x3">
      <div class="media-object">
        <img src="Assets/time.svg" alt="" />
        <span>Build in minutes</span>
        <p>
          With a selection of premade templates, you can build out a portfolio
          in less than 10 minutes.
        </p>
      </div>
      <div class="media-object">
        <img src="Assets/code.svg" alt="" />
        <span>Add custom CSS</span>
        <p>
          Customize your personal portfolio even more with the ability to add
          your own CSS styles.
        </p>
      </div>
      <div class="media-object">
        <img src="Assets/allSizes.svg" alt="" />
        <span>Responsive</span>
        <p>
          All Fiber templates are fully responsive to ensure the experience is
          seemless across all devices.
        </p>
      </div>
    </div>
  </section>