<section class="block testimonial container">
    <div class="grid grid--1x3">
      <div class="testimonial-card">
        <div class="testimonial-card__header">
          <img src="Assets/User Avatar 2.svg" alt="" />
          <div class="heading">
            <span class="colored__text testimonial__name">Sarah Andrews</span>
            <span class="black__text">$100k in revenue</span>
          </div>
        </div>
        <div class="tesitmonial-card__body">
          <p class="black__text">
            Setting up my portfolio with Fiber took no more than 10 minutes. Since
            then, my portfolio has attracted a lot of clients and made me more than
            $100k.
          </p>
          <button class="btn btn--block">Start Free Trial</button>
        </div>
      </div>
      <div class="testimonial-card">
        <div class="testimonial-card__header">
          <img src="Assets/User Avatar 2.svg" alt="" />
          <div class="heading">
            <span class="colored__text testimonial__name">Sarah Andrews</span>
            <span class="black__text">$100k in revenue</span>
          </div>
        </div>
        <div class="tesitmonial-card__body">
          <p class="black__text">
            Setting up my portfolio with Fiber took no more than 10 minutes. Since
            then, my portfolio has attracted a lot of clients and made me more than
            $100k.
          </p>
          <button class="btn btn--block">Start Free Trial</button>
        </div>
      </div>
      <div class="testimonial-card">
        <div class="testimonial-card__header">
          <img src="Assets/User Avatar 2.svg" alt="" />
          <div class="heading">
            <span class="colored__text testimonial__name">Sarah Andrews</span>
            <span class="black__text">$100k in revenue</span>
          </div>
        </div>
        <div class="tesitmonial-card__body">
          <p class="black__text">
            Setting up my portfolio with Fiber took no more than 10 minutes. Since
            then, my portfolio has attracted a lot of clients and made me more than
            $100k.
          </p>
          <button class="btn btn--block">Start Free Trial</button>
        </div>
      </div>
    </div>
  </section>